[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = nvim
	excludesfile = /home/leo/.gitignore_global
[interactive]
	diffFilter = diff-so-fancy --patch
[user]
	email = jni@bouffalolab.com
	name = jni
